@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MudItem xs="12" sm="12" md="12">
    <div class="pa-4 justify-center my-4 mud-text-align-center">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/">GoHome</MudButton>
        </div>
    </MudItem>
